<ion-header>
    <ion-toolbar >
      <ion-title ><h5 class="card-title text-center"><ion-icon name="person-add"></ion-icon> Registro Estudiantes </h5></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content >
  <body>
      <div class="boxContenedor">
  <div class="container" >
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body" style="background: greenyellow;">
            
            <form  class="form-signin"  [formGroup]="RecoveryPassword"  (ngSubmit) = "recoveryPassword()">
                
  
  
  
              <label for="inputEmail" >Corroe Electronico</label>
              
              <div class="form-label-group" >                     
                <input  id="correo_electronico" type="text"  formControlName="correo_electronico"  class="form-control" name="correo_electronico" placeholder="correo_electronico">
         
              </div>
             
              
              <button class="btn btn-lg btn-primary btn-block text-uppercase"[disabled]="!RecoveryPassword.valid" type="submit">Crear Estudiantes</button>
             <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
  </body>
  </ion-content>