<ion-header>
    <ion-toolbar >
      <ion-title ><h5 class="card-title text-center"><ion-icon name="keypad"></ion-icon>  Preguntas </h5></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
      <body>
<div class="boxContenedor">
    <div class="form-group" style="text-align: right;">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit"  [routerLink]="['/inicio-estudiante']"  class="btn btn-primary">⬅ Regresar a la Gestion de Cursos </button>
        </div>
    </div>

   
   
  
  
          <h1 style="text-align: center;">Mis Notas</h1>
          
          <table class="table table-hover" style= "background: linear-gradient(to right, blue, magenta)">
            
             
            <thead>
                <tr>
                  <th scope="col">Nombre Evaluacion</th>
                  <th scope="col">Nota</th>
                  
               

                </tr>
              </thead>
         
              <tbody *ngFor = "let Intento1 of Intento1">
               
                  <tr >
                      <td>{{Intento1.nombre}}</td>
                  
                     <td>{{Intento1.punteo}}</td>
                    
                    </tr>
               
              </tbody>
           
            </table>
         </div>
      </body>
  </ion-content>
  