<ion-header>
    <ion-toolbar >
      <ion-title ><h5 class="card-title text-center"><ion-icon name="keypad"></ion-icon>  Asignaciones Cursos </h5></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content >
  <body>
      <div class="form-group" style="text-align: right;">        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit"  [routerLink]="['/gestion-cursos']"  class="btn btn-primary">⬅ Regresar a la Gestion de Cursos </button>
          </div>
      </div>
      <ion-row>
          <ion-col width-50 style="text-align: center">
      <button ion-button block (click)="accion1()" > Crear Asignacion </button>
    </ion-col>
       
    <ion-card *ngIf="ocultar1">
      <div class="boxContenedor">
  <div class="container" >
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body" style="background: greenyellow;">
            
            <form  class="form-signin"  [formGroup]="CursosRegisterForm"  (ngSubmit) = "crearAsignacion()">
                 <label for="inputEmail">Semestre</label>
              <div class="form-label-group">
                 <input required id="nombre" type="text"  formControlName="semestre"   class="form-control" placeholder="Nombre" name="nombre">
                 
              </div>
              <label for="inputEmail" >Año</label>
              
              <div class="form-label-group" >                     
                <input  id="year_" type="text"  class="form-control"  formControlName="year_"  name="year_" placeholder="Apellido">
           
              </div>
  
              <label for="inputEmail" >Hora Inicio</label>
              
              <div class="form-label-group" >                     
                <input  id="horaInicio" type="text"   formControlName="horaInicio" class="form-control" name="horaInicio" placeholder="carne">
         
              </div>
  
  
              <label for="inputEmail" >Hora Fin</label>
              
              <div class="form-label-group" >                     
                <input  id="correo_electronico" type="text"  formControlName="horaFin"  class="form-control" name="correo_electronico" placeholder="correo_electronico">
         
              </div>
             
              <label for="inputPassword" >Fecha Limite</label>
              
              <div class="form-label-group" >                     
                <input  id="password_" type="text"  formControlName="fechalimit"  class="form-control" name="password_" placeholder="Password">
              </div>
              <label for="inputPassword" >Codigo Curso</label>
              
              <div class="form-label-group" >                     
                <input  id="password_" type="text"  formControlName="codigo_curso"  class="form-control" name="password_" placeholder="Password">
              </div>

              <label for="inputPassword" >Codigo Seccion</label>
              
              <div class="form-label-group" >                     
                <input  id="password_" type="text"  formControlName="codigo_seccion"  class="form-control" name="password_" placeholder="Password">
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase"[disabled]="!CursosRegisterForm.valid" type="submit">Crear Estudiantes</button>
             <hr class="my-4">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
      </div>
    </ion-card>

    <ion-col width-50 style="text-align: center">
        <button ion-button block (click)="accion2()" > Editar Asignacion </button>
      </ion-col>
         
      <ion-card *ngIf="ocultar2">
        <div class="boxContenedor">
    <div class="container" >
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body" style="background: greenyellow;">
              
              <form  class="form-signin"  [formGroup]="UpdateRegisterForm"  (ngSubmit) = "ActualizarAsignacion()">
                  
                  <label for="inputEmail">Codigo Asignacion</label>
                  <div class="form-label-group">
                     <input required id="nombre" type="number"  formControlName="codigo_detallescurso"   class="form-control" placeholder="Nombre" name="nombre">
                     
                  </div>
                <label for="inputEmail">Semestre</label>
                <div class="form-label-group">
                   <input required id="nombre" type="text"  formControlName="semestre"   class="form-control" placeholder="Nombre" name="nombre">
                   
                </div>
                <label for="inputEmail" >Año</label>
                
                <div class="form-label-group" >                     
                  <input  id="year_" type="text"  class="form-control"  formControlName="year_"  name="year_" placeholder="Apellido">
             
                </div>
    
                <label for="inputEmail" >Hora Inicio</label>
                
                <div class="form-label-group" >                     
                  <input  id="horaInicio" type="text"   formControlName="horaInicio" class="form-control" name="horaInicio" placeholder="carne">
           
                </div>
    
    
                <label for="inputEmail" >Hora Fin</label>
                
                <div class="form-label-group" >                     
                  <input  id="correo_electronico" type="text"  formControlName="horaFin"  class="form-control" name="correo_electronico" placeholder="correo_electronico">
           
                </div>
               
                <label for="inputPassword" >Fecha Limite</label>
                
                <div class="form-label-group" >                     
                  <input  id="password_" type="text"  formControlName="fechalimit"  class="form-control" name="password_" placeholder="Password">
                </div>
                <label for="inputPassword" >Codigo Curso</label>
                
                <div class="form-label-group" >                     
                  <input  id="password_" type="text"  formControlName="codigo_curso"  class="form-control" name="password_" placeholder="Password">
                </div>
  
                <label for="inputPassword" >Codigo Seccion</label>
                
                <div class="form-label-group" >                     
                  <input  id="password_" type="text"  formControlName="codigo_seccion"  class="form-control" name="password_" placeholder="Password">
                </div>
                <button class="btn btn-lg btn-primary btn-block text-uppercase"[disabled]="!UpdateRegisterForm.valid" type="submit">Crear Estudiantes</button>
               <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
      </ion-card>
      <ion-col width-50 style="text-align: center">
          <button ion-button block (click)="accion3()" > Eliminar Asignacion </button>
        </ion-col>
           
        <ion-card *ngIf="ocultar3">
          <div class="boxContenedor">
      <div class="container" >
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body" style="background: greenyellow;">
                
                <form  class="form-signin"  [formGroup]="DeleteRegisterForm"  (ngSubmit) = "EliminarAsigancion()">
                    
                    <label for="inputEmail">Codigo Asignacion</label>
                    <div class="form-label-group">
                       <input required id="nombre" type="number"  formControlName="codigo_detallescurso"   class="form-control" placeholder="Nombre" name="nombre">
                       
                    </div>
                 
                  <button class="btn btn-lg btn-primary btn-block text-uppercase"[disabled]="!DeleteRegisterForm.valid" type="submit">Crear Estudiantes</button>
                 <hr class="my-4">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
          </div>
        </ion-card>
        <ion-col width-50 style="text-align: center">
            <button ion-button block (click)="accion4()" > Ver Asignaciones </button>
          </ion-col>
             
          <ion-card *ngIf="ocultar4">
             
             
            
                <div class="boxContenedor">
                    <h1 style="text-align: center;">Mis Asignaciones</h1>
                    
                    <table class="table table-hover" style= "background: linear-gradient(to right, blue, magenta)">
                        <thead>
                          <tr>
                            <th scope="col">#ID</th>
                         
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Seccion</th>
                            <th scope="col">Semestre</th>
                            <th scope="col">Año</th>
                            <th scope="col">Hora Inicio</th>
                            <th scope="col">Hora Fin</th>
                            <th scope="col">Fecha Limite</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor = "let allAsignaciones of allAsignaciones">
                            <td>{{allAsignaciones.codigo_detallescurso}}</td>
                            <td>{{allAsignaciones.nombre}}</td>
                            <td>{{allAsignaciones.descripcion}}</td>
                            <td>{{allAsignaciones.lseccion}}</td>
                            <td *ngIf="allAsignaciones.estado == 0">inhabilitado</td>
                           <td *ngIf="allAsignaciones.estado == 1">Habilitado</td>
                           <td>{{allAsignaciones.semestre}}</td>
                           <td>{{allAsignaciones.year_}}</td>
                           <td>{{allAsignaciones.horaInicio}}</td>
                           <td>{{allAsignaciones.horaFin}}</td>
                           <td>{{allAsignaciones.fechalimit}}</td>
                            
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
            
          </ion-card>
  </ion-row>
  </body>
  </ion-content>