<ion-header>
  <ion-toolbar >
    <ion-title ><h5 class="card-title text-center"  ><ion-icon name="unlock"></ion-icon> Cambiar Contraseña </h5></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
<body>
    <div class="boxContenedor">
<div class="container" >
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body" style="background: greenyellow;">
          
          <form  class="form-signin"  [formGroup]="RecoveryPassword"  (ngSubmit) = "cambiarPassword()">
              
           


            <label for="inputEmail" >Contraseña</label>
            
            <div class="form-label-group" >                     
              <input  id="password_" type="password"  formControlName="password_"  class="form-control" name="password_" placeholder="password_">
       
            </div>
           
            <label for="inputEmail" >Introduzca Denuevo la Contraseña</label>
            
            <div class="form-label-group" >                     
              <input  id="password1" type="password"  formControlName="password1"  class="form-control" name="password1" placeholder="password1">
       
            </div>
           
            
            <button class="btn btn-lg btn-primary btn-block text-uppercase"[disabled]="!RecoveryPassword.valid" type="submit">Crear Estudiantes</button>
           <hr class="my-4">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
</body>
</ion-content>