<ion-header>
    <ion-toolbar >
      <ion-title ><h5 class="card-title text-center"><ion-icon name="keypad"></ion-icon>  Cursos </h5></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    
      <body>
          <div class="form-group" style="text-align: right;">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  [routerLink]="['/inicio-estudiante']"  class="btn btn-primary">⬅ Regresar al modulo estudiante </button>
              </div>
          </div>
          <ion-row>
        <ion-col width-50 style="text-align: center">
    <button ion-button block (click)="accion1()" > Asignar Estudiante </button>
  </ion-col>
     
  <ion-card *ngIf="ocultar1">
     
     
    
        <div class="boxContenedor">
    <div class="container" >
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body" style="background: greenyellow;">
                <h5 style="text-align: center;">Crear Cursos</h5>
              <form  class="form-signin" [formGroup]="CursosRegisterForm" (ngSubmit) = "crearCusos()"  >
                   <label for="inputEmail">Curso</label>
                <div class="form-label-group">
                   <input required id="nombre" type="text"   formControlName="codigo_estudiante"  class="form-control" placeholder="Nombre" name="nombre">
                   
                </div>
                <label for="inputEmail" >Estudiante</label>
                
                <div class="form-label-group" >                     
                  <input  id="apellido" type="text"  class="form-control"  formControlName="codigo_detallescurso" name="apellido" placeholder="Apellido">
             
                </div>
    
            
               
               
                <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!CursosRegisterForm.valid" type="submit">Crear Cursos</button>
               <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
  
    
  </ion-card>
  <ion-col width-50 style="text-align: center">
      <button ion-button block (click)="accion2()" > Eliminar Asignacion Estudiantes </button>
    </ion-col>
    <ion-card *ngIf="ocultar2">
     
     
    
        <div class="boxContenedor">
    <div class="container" >
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body" style="background: mediumspringgreen;">
              <h5 style="text-align: center;">Eliminar Cursos</h5>
              <form  class="form-signin" [formGroup]="DeleteRegisterForm" (ngSubmit) = "EliminarCursos()"  >
                   <label for="inputEmail">Codigo del Curso</label>
                <div class="form-label-group">
                   <input required id="id" type="number" formControlName="codigo_detallescurso"   class="form-control" placeholder="id" name="id">
                   
                </div>
                <label for="inputEmail">Codigo de Asignacion</label>
                <div class="form-label-group">
                   <input required id="id" type="number" formControlName="codigo_asignacionstudent"   class="form-control" placeholder="id" name="id">
                   
                </div>
                <label for="inputEmail">Codigo del Estudiante</label>
                <div class="form-label-group">
                   <input required id="id" type="number" formControlName="codigo_estudiante"   class="form-control" placeholder="id" name="id">
                   
                </div>
                
                <button class="btn btn-lg btn-primary btn-block text-uppercase"[disabled]="!DeleteRegisterForm.valid" type="submit">Eliminar Cursos</button>
               <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
  </ion-card>
  <ion-col width-50 style="text-align: center">
      <button ion-button block (click)="accion3()" > Mis Asignaciones </button>
    </ion-col>
       
    <ion-card *ngIf="ocultar3">
       
       
      
        
        
            <div class="boxContenedor">
                <h1 style="text-align: center;">Mis Cursos Asignados</h1>
                
                <table class="table table-hover" style= "background: linear-gradient(to right, blue, magenta)">
                    <thead>
                      <tr >
                        <th scope="col">ID Asignacion</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Semestre</th>
                        <th scope="col">Año</th>      
                        <th scope="col">Hora Inicio</th>
                        <th scope="col">Hora Fin</th>
                        <th scope="col">ID Curso</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Codigo Curso</th>
                        <th scope="col">Seccion</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor = "let allAsignaciones of allAsignaciones">
                          <td>{{allAsignaciones.codigo_asignacionstudent}}</td>
                          <td>{{allAsignaciones.descripcion}}</td>
                          <td>{{allAsignaciones.nombre}}</td>
                          <td>{{allAsignaciones.semestre}}</td>
                          <td>{{allAsignaciones.year_}}</td>
                          <td>{{allAsignaciones.horaInicio}}</td>
                          <td>{{allAsignaciones.horaFin}}</td>
                          <td>{{allAsignaciones.codigo_detallescurso}}</td>
                          <td>{{allAsignaciones.curso}}</td>
                          <td>{{allAsignaciones.codigo_unico}}</td>
                          <td>{{allAsignaciones.seccion}}</td>
                       
                         
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
    </ion-card>
    
      
        
     
  </ion-row>
  </body>
      
  </ion-content>
  