<ion-header>
  
    <ion-toolbar>
    
      <ion-title style="border: 3px solid red; background: greenyellow;">
       
         
          <div class="sidebar-logo" >
              <div class="peers ai-c fxw-nw" >
                
                <div class="peer peer-greed">
                    <h5 class="lh-1 mB-0 logo-text"style="text-align: center;">Gestion Reportes DJD</h5>
                  </div>
                  <div class="peer peer-greed" style="text-align: center;">
                      <img style="border-radius: 50%; border: 3px solid red; background: black;" width="75" height="75" src="https://st3.depositphotos.com/3991093/14726/v/1600/depositphotos_147264679-stock-illustration-training-courses-in-educational-program.jpg" alt="">
                    </div>
                <div class="peer peer-greed">
                    <h5 class="lh-1 mB-0 logo-text"style="text-align: center;">{{hora.toLocaleString()}} </h5>
                  <h5 class="lh-1 mB-0 logo-text"style="text-align: center;"> </h5>
                </div>
                <div class="peer">
                  <div class="mobile-toggle sidebar-toggle">
                    <a href="" class="td-n">
                      <i class="ti-arrow-circle-left"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          
      </ion-title>
      <nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center">
          <ul class="navbar-nav">
              <li class="nav-item active">
                  <a class="nav-link"    [routerLink]="['/reporte1']">Reporte1  <ion-icon style="border-radius: 35%; border: 2px solid white;" name="bookmarks"></ion-icon></a>
                </li>
            <li class="nav-item active">
              <a class="nav-link"    [routerLink]="['/reporte2']">Reporte2  <ion-icon style="border-radius: 25%; border: 2px solid white;" name="contacts"></ion-icon></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/asignar-cursos']">Reporte3<ion-icon style="border-radius: 35%; border: 2px solid white; background: purple;" name="laptop"></ion-icon> </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/asignar-cursos']">Reporte5<ion-icon style="border-radius: 35%; border: 2px solid white; background: purple;" name="laptop"></ion-icon> </a>
              </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/inicio-admin']">Regresar<ion-icon style="border-radius: 35%; border: 2px solid white; background: orange;" name="return-left"></ion-icon> </a>
              </li>
        
             
          </ul>
        </nav>
    </ion-toolbar>
  </ion-header>
  
  <ion-content style="border: 3px solid red; background: blue;">
    
  </ion-content>
       
  