<ion-header>
  <ion-title style="border: 3px solid red; background: yellow">
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed" style="text-align: center">
          <img
            style="border-radius: 50%; border: 3px solid red; background: black"
            width="75"
            height="75"
            src="https://www.usac.edu.gt/img/logo_rectoria.png"
            alt=""
          />
        </div>
        <div class="peer peer-greed">
          <h5 class="lh-1 mB-0 logo-text" style="text-align: center">
            Modulo Administrador
          </h5>
        </div>
        <div class="peer peer-greed">
          <h5 id="time" class="card-title text-center">{{date}}</h5>
          <h5 class="lh-1 mB-0 logo-text" style="text-align: center">
            Bienvenido Administrador {{data.Nombre}}
          </h5>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-title>
  <nav
    class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-center"
  >
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/pregunta']"
          >Preguntas <ion-icon name="today"></ion-icon
        ></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/pais']"
          >Paises <ion-icon name="airplane"></ion-icon
        ></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/mantenimiento']"
          >Mantenimiento <ion-icon name="build"></ion-icon
        ></a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Consultas <ion-icon name="document"></ion-icon>
        </a>
        <div
          class="dropdown-menu scrollable-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" [routerLink]="['/consulta1']"
            >Consulta 1 <ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta2']"
            >Consulta 2 <ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta3']"
            >Consulta 3 <ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta4']"
            >Consulta 4 <ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta5']"
            >Consulta 5 <ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta6']"
            >Consulta 6 <ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta7']"
            >Consulta 7<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta8']"
            >Consulta 8<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta9']"
            >Consulta 9<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta10']"
            >Consulta 10<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta11']"
            >Consulta 11<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta12']"
            >Consulta 12<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta13']"
            >Consulta 13<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta14']"
            >Consulta 14<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta15']"
            >Consulta 15<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta16']"
            >Consulta 16<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta17']"
            >Consulta 17<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta18']"
            >Consulta 18<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta19']"
            >Consulta 19<ion-icon name="document"></ion-icon
          ></a>
          <a class="dropdown-item" [routerLink]="['/consulta20']"
            >Consulta 20<ion-icon name="document"></ion-icon
          ></a>
        </div>
      </li>

      <!-- <a class="nav-link" [routerLink]="['/gestion-reportes']">Reportes <ion-icon name="document"></ion-icon> </a> -->

      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="logOut()">
          <i class="ti-power-off mR-10"></i>
          <span>Cerrar Sesión <ion-icon name="log-out"></ion-icon></span>
        </a>
      </li>
    </ul>
  </nav>
</ion-header>

<ion-content style="border: 3px solid red; background: blue">
  <body
    style="
      background: linear-gradient(to right, rgb(255, 230, 0), rgb(115, 255, 0));
    "
  ></body>
</ion-content>
