


<ion-content>
<body>

    <button ion-button block (click)="accion1()" > Correos <ion-icon name="mail-unread"></ion-icon></button>
    <ion-card *ngIf="ocultar1">
      <div class="card">
        <div class="card-body">
            <h1 class="card-title" style="text-align: center;">Publicaciones </h1>
          <h2 class="card-title">Titulo: </h2>
          <h3 class="card-text">Descripcion: </h3>
          <p class="card-text">  </p>
        </div>
      </div>
       <ion-card-content >
        
       </ion-card-content>
    </ion-card>

  
</body>
</ion-content>