<ion-header>
    <ion-toolbar >
      <ion-title ><h5 class="card-title text-center"><ion-icon name="keypad"></ion-icon>  Evaluaciones </h5></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    
      <body>
          <div class="form-group" style="text-align: right;">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  [routerLink]="['/inicio-auxiliar']"  class="btn btn-primary">⬅ Regresar al Inicio </button>
              </div>
          </div>
          <ion-row>
       

  <ion-col width-50 style="text-align: center">
      <button ion-button block (click)="accion3()" > Buscar Notas </button>
    </ion-col>
    <ion-card *ngIf="ocultar3">
     
     
    
        <div class="boxContenedor">
    <div class="container" >
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body" style="background: mediumspringgreen;">
              <h5 style="text-align: center;">Buscar</h5>
              <form  class="form-signin" [formGroup]="DeleteRegisterForm" (ngSubmit) = "EliminarEvaluacion()" >
                   <label for="inputEmail">Codigo del Estudiante</label>
                <div class="form-label-group">
                   <input required id="id" type="number" formControlName="codigo_evaluacion"   class="form-control" placeholder="id" name="id">
                   
                </div>
               
                
                <button class="btn btn-lg btn-primary btn-block text-uppercase"[disabled]="!DeleteRegisterForm.valid" type="submit">Eliminar Cursos</button>
               <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
  </ion-card>
    
  </ion-row>
  </body>
      
  </ion-content>
  