<ion-header>
    <ion-toolbar >
      <ion-title ><h5 class="card-title text-center"><ion-icon name="keypad"></ion-icon>  Cursos </h5></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    
      <body>
          <div class="form-group" style="text-align: right;">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  [routerLink]="['/gestion-cursos']"  class="btn btn-primary">⬅ Regresar a la Gestion de Cursos </button>
              </div>
          </div>
          <ion-row>
        <ion-col width-50 style="text-align: center">
    <button ion-button block (click)="accion1()" > Crear Secciones </button>
  </ion-col>
     
  <ion-card *ngIf="ocultar1">
     
     
    
        <div class="boxContenedor">
    <div class="container" >
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body" style="background: greenyellow;">
                <h5 style="text-align: center;">Crear Secciones</h5>
              <form  class="form-signin" [formGroup]="SeccionRegisterForm" (ngSubmit) = "crearSeccion()" >
                   <label for="inputEmail">Seccion</label>
                <div class="form-label-group">
                   <input required id="lseccion" type="text"   formControlName="lseccion"  class="form-control" placeholder="lseccion" name="lseccion">
                   
                </div>
                
               
                <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!SeccionRegisterForm.valid" type="submit">Crear Cursos</button>
               <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
  
    
  </ion-card>
  
  <ion-col width-50 style="text-align: center">
      <button ion-button block (click)="accion2()" > Editar Secciones </button>
    </ion-col>
       
    <ion-card *ngIf="ocultar2">
       
       
      
          <div class="boxContenedor">
      <div class="container" >
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body" style="background: yellow;">
                  <h5 style="text-align: center;">Editar Secciones</h5>
                <form  class="form-signin"  [formGroup]="UpdateRegisterForm" (ngSubmit) = "UpdateSeccion()" >
                     <label for="inputEmail">ID</label>
                  <div class="form-label-group">
                     <input required id="id" type="text"  formControlName="codigo_seccion"  class="form-control" placeholder="id" name="id">
                     
                  </div>
                  <label for="inputEmail" >Seccion</label>
                  
                  <div class="form-label-group" >                     
                    <input  id="nombre" type="text"  class="form-control" formControlName="lseccion" name="nombre" placeholder="nombre">
               
                  </div>
      
                  
      
                  
                  <button class="btn btn-lg btn-primary btn-block text-uppercase"[disabled]="!UpdateRegisterForm.valid" type="submit">Actualizar Cursos</button>
                 <hr class="my-4">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
          </div>
    
      
    </ion-card>
    <ion-col width-50 style="text-align: center">
        <button ion-button block (click)="accion3()" > Ver Secciones </button>
      </ion-col>
         
      <ion-card *ngIf="ocultar3">
         
         
        
            <div class="boxContenedor">
                <h1 style="text-align: center;">Mis Secciones</h1>
                
                <table class="table table-hover" style= "background: linear-gradient(to right, orange, magenta)">
                    <thead>
                      <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Seccion</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor = "let allSeccion of allSeccion">
                        <td>{{allSeccion.codigo_seccion}}</td>
                        <td>{{allSeccion.lseccion}}</td>
                     
                        
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
      
        
      </ion-card>
  </ion-row>
  </body>
      
  </ion-content>
  