<ion-header>
    <ion-toolbar >
      <ion-title ><h5 class="card-title text-center"><ion-icon name="keypad"></ion-icon>  Reporte2 </h5></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    
      <body>
          <div class="form-group" style="text-align: right;">        
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit"  [routerLink]="['/gestion-reportes']"  class="btn btn-primary">⬅ Regresar a la Gestion de Reportes </button>
              </div>
          </div>
          <ion-row>
        <ion-col width-50 style="text-align: center">
    <button ion-button block (click)="accion1()" > Buscar Reporte2 </button>
  </ion-col>
     
  <ion-card *ngIf="ocultar1">
     
     
    
        <div class="boxContenedor">
    <div class="container" >
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body" style="background: greenyellow;">
                <h5 style="text-align: center;">Buscar Reporte2</h5>
              <form  class="form-signin" [formGroup]="CursosRegisterForm" (ngSubmit) = "crearEvaluaciones()" >
            
    
                
              
    
    
                <label for="inputEmail" >Creador Publicacion</label>
                
                <div class="form-label-group" >                     
                  <input  id="correo_electronico" type="text"    formControlName="creador" class="form-control" name="correo_electronico" placeholder="correo_electronico">
           
                </div>

                <label for="inputEmail" >Mi Identificacion</label>
                
                <div class="form-label-group" >                     
                  <input  id="correo_electronico" type="text"    formControlName="Admin" class="form-control" name="correo_electronico" placeholder="correo_electronico">
           
                </div>
               
               
               
                <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!CursosRegisterForm.valid" type="submit">Crear Cursos</button>
               <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
        </div>
  
    
  </ion-card>
    
  </ion-row>
  </body>
      
  </ion-content>
  