<ion-header>
    <ion-toolbar >
      <ion-title ><h5 class="card-title text-center"><ion-icon name="keypad"></ion-icon>  Auxiliares </h5></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    
    
   
         
    <body>
        <div class="form-group" style="text-align: right;">        
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit"  [routerLink]="['/gestion-auxiliar']"  class="btn btn-primary">⬅ Regresar a la Gestion Auxiliar </button>
            </div>
        </div>
        
            <div class="boxContenedor">
                <h1 style="text-align: center;">Asignaciones Auxiliares</h1>
                
                <table class="table table-hover" style= "background: linear-gradient(to right, blue, magenta)">
                    <thead>
                      <tr >
                        <th scope="col">ID Asignacion</th>
                        <th scope="col">ID Auxiliar</th>
                        <th scope="col">ID Curso</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Semestre</th>
                        <th scope="col">Año</th>
                        <th scope="col">Estado Asignacion</th>
                        <th scope="col">Hora Inicio</th>
                        <th scope="col">Hora Fin</th>
                        <th scope="col">Motivo Desasignacion</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Codigo Curso</th>
                        <th scope="col">Seccion</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor = "let allAsignaciones of allAsignaciones">
                          <td>{{allAsignaciones.codigo_asignacionaux}}</td>
                          <td>{{allAsignaciones.codigo_detallescurso}}</td>
                          <td>{{allAsignaciones.codigo_estudiante}}</td>
                          <td>{{allAsignaciones.nombre}}</td>
                          <td>{{allAsignaciones.semestre}}</td>
                          <td>{{allAsignaciones.year_}}</td>
                          <td *ngIf="allAsignaciones.estado == 0">Desasignado</td>
                          <td *ngIf="allAsignaciones.estado == 1">Asignado</td>
                          <td>{{allAsignaciones.horaInicio}}</td>
                          <td>{{allAsignaciones.horaFin}}</td>
                          <td>{{allAsignaciones.motivo}}</td>
                          <td>{{allAsignaciones.curso}}</td>
                          <td>{{allAsignaciones.codigo_unico}}</td>
                          <td>{{allAsignaciones.seccion}}</td>
                       
                         
                      </tr>
                      
                    </tbody>
                  </table>
            </div>
      
        
   
  
  </body>
      
  </ion-content>
  